extends ./layout

block content
      #wrapper
        include ./nav
        #page-wrapper
          include ./messages

          .container-fluid
            // Page Heading
            .row
              .col-lg-12
                h1.page-header
                  | Dashboard 
                  small Statistics Overview
                ol.breadcrumb
                  li.active
                    i.fa.fa-dashboard
                    |  Dashboard
            // /.row
            .row
              .col-lg-12
                .alert.alert-info.alert-dismissable
                  button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                  i.fa.fa-info-circle
                  strong Like SB Admin?
                  |  Try out 
                  a.alert-link(href='http://startbootstrap.com/template-overviews/sb-admin-2') SB Admin 2
                  |  for additional features!
            // /.row
            .row
              .col-lg-3.col-md-6
                .panel.panel-primary
                  .panel-heading
                    .row
                      .col-xs-3
                        i.fa.fa-comments.fa-5x
                      .col-xs-9.text-right
                        .huge 26
                        div New Comments!
                  a(href='#')
                    .panel-footer
                      span.pull-left View Details
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      .clearfix
              .col-lg-3.col-md-6
                .panel.panel-green
                  .panel-heading
                    .row
                      .col-xs-3
                        i.fa.fa-tasks.fa-5x
                      .col-xs-9.text-right
                        .huge 12
                        div New Tasks!
                  a(href='#')
                    .panel-footer
                      span.pull-left View Details
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      .clearfix
              .col-lg-3.col-md-6
                .panel.panel-yellow
                  .panel-heading
                    .row
                      .col-xs-3
                        i.fa.fa-shopping-cart.fa-5x
                      .col-xs-9.text-right
                        .huge 124
                        div New Orders!
                  a(href='#')
                    .panel-footer
                      span.pull-left View Details
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      .clearfix
              .col-lg-3.col-md-6
                .panel.panel-red
                  .panel-heading
                    .row
                      .col-xs-3
                        i.fa.fa-support.fa-5x
                      .col-xs-9.text-right
                        .huge 13
                        div Support Tickets!
                  a(href='#')
                    .panel-footer
                      span.pull-left View Details
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      .clearfix
            // /.row
            .row
              .col-lg-12
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      i.fa.fa-bar-chart-o.fa-fw
                      |  Area Chart
                  .panel-body
                    #morris-area-chart
            // /.row
            .row
              .col-lg-4
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      i.fa.fa-long-arrow-right.fa-fw
                      |  Donut Chart
                  .panel-body
                    #morris-donut-chart
                    .text-right
                      a(href='#')
                        | View Details 
                        i.fa.fa-arrow-circle-right
              .col-lg-4
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      i.fa.fa-clock-o.fa-fw
                      |  Tasks Panel
                  .panel-body
                    .list-group
                      a.list-group-item(href='#')
                        span.badge just now
                        i.fa.fa-fw.fa-calendar
                        |  Calendar updated
                      a.list-group-item(href='#')
                        span.badge 4 minutes ago
                        i.fa.fa-fw.fa-comment
                        |  Commented on a post
                      a.list-group-item(href='#')
                        span.badge 23 minutes ago
                        i.fa.fa-fw.fa-truck
                        |  Order 392 shipped
                      a.list-group-item(href='#')
                        span.badge 46 minutes ago
                        i.fa.fa-fw.fa-money
                        |  Invoice 653 has been paid
                      a.list-group-item(href='#')
                        span.badge 1 hour ago
                        i.fa.fa-fw.fa-user
                        |  A new user has been added
                      a.list-group-item(href='#')
                        span.badge 2 hours ago
                        i.fa.fa-fw.fa-check
                        |  Completed task: "pick up dry cleaning"
                      a.list-group-item(href='#')
                        span.badge yesterday
                        i.fa.fa-fw.fa-globe
                        |  Saved the world
                      a.list-group-item(href='#')
                        span.badge two days ago
                        i.fa.fa-fw.fa-check
                        |  Completed task: "fix error on sales page"
                    .text-right
                      a(href='#')
                        | View All Activity 
                        i.fa.fa-arrow-circle-right
              .col-lg-4
                .panel.panel-default
                  .panel-heading
                    h3.panel-title
                      i.fa.fa-money.fa-fw
                      |  Transactions Panel
                  .panel-body
                    .table-responsive
                      table.table.table-bordered.table-hover.table-striped
                        thead
                          tr
                            th Order #
                            th Order Date
                            th Order Time
                            th Amount (USD)
                        tbody
                          tr
                            td 3326
                            td 10/21/2013
                            td 3:29 PM
                            td $321.33
                          tr
                            td 3325
                            td 10/21/2013
                            td 3:20 PM
                            td $234.34
                          tr
                            td 3324
                            td 10/21/2013
                            td 3:03 PM
                            td $724.17
                          tr
                            td 3323
                            td 10/21/2013
                            td 3:00 PM
                            td $23.71
                          tr
                            td 3322
                            td 10/21/2013
                            td 2:49 PM
                            td $8345.23
                          tr
                            td 3321
                            td 10/21/2013
                            td 2:23 PM
                            td $245.12
                          tr
                            td 3320
                            td 10/21/2013
                            td 2:15 PM
                            td $5663.54
                          tr
                            td 3319
                            td 10/21/2013
                            td 2:13 PM
                            td $943.45
                    .text-right
                      a(href='#')
                        | View All Transactions 
                        i.fa.fa-arrow-circle-right
        