extends ./layout

block content
      #wrapper
        include ./nav
        #page-wrapper
          include ./messages

          .container-fluid
            // Page Heading
            .row
              .col-lg-12
                h1.page-header
                  | Dashboard 
                  small Sriracha Dashboard
                ol.breadcrumb
                  li.active
                    i.fa.fa-dashboard
                    |  Dashboard
            .row
              .col-lg-12
                p.lead
                  | Thanks for using Sriracha.
                  | Would love to have you contribute.
                  | <a href="https://github.com/hdngr/sriracha/issues">File a bug, request a feature,</a> or fork me on
                  | <a href="https://github.com/hdngr/sriracha">github</a>.
        