before_install:
    - npm install -g gulp
script: "npm run-script test-ci"
after_script: "npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"
language: node_js
node_js:
  - "4.2.1"
services: mongodb