case Collection.getPathType(path)
    when 'text'
        include ./text
    when 'checkbox'
        include ./checkbox
    when 'ref'
        include ./ref
    //- when 'object'
    //-     include ./object
