case Collection.getPathType(path)
    when 'text'
        include ./text
    when 'checkbox'
        include ./checkbox
    when 'ref'
        include ./ref
    when 'textarea'
        include ./textarea
    when 'array'
        include ./array
    when 'date'
        include ./date
